ul{
    display: flex;
}
li{
    list-style: none;
    margin-left: 15px;
    color:rgb(51, 54, 54);
}
th{
    border: 1px solid black;
    text-align: center;
}
td{
    border: 1px solid black;
    text-align: center;
}